<section class="card_box pad_top mb-4">
  <div class="container-fluid">
    <div class="row mt-4 dash_boards">

      <!-- <div class="col">
          <div class="card-border p-4">
            <div class="image-contaner mb-2">
              <img src="../assets/images/wallet.png" alt="Earning image" class="earning-image">
            </div>
            <h5 class="card-title fs_14">Total Earning</h5>
            <p class="card-title fs_22 fw-semibold fs_20 mt-1">£5,456.00</p>
          </div>
        </div>

        <div class="col">
          <div class="card-border p-4">
            <div class="image-contaner mb-2">
              <img src="../assets/images/money.png" alt="Box 1 image" class="earning-image">
            </div>
            <h5 class="card-title fs_14">This Month Earning</h5>
            <p class="card-title fs_22 fw-semibold fs_20 mt-1">£456.00</p>
          </div>
        </div>

        <div class="col">
          <div class="card-border p-4">
            <div class="image-contaner mb-2">
              <img src="../assets/images/bag-2.png" alt="Box 2 image" class="earning-image">
            </div>
            <h5 class="card-title fs_14">Total Product Listed</h5>
            <p class="card-title fs_22 fw-semibold fs_20 mt-1">£456.00</p>
          </div>
        </div> -->
      <div class="col">
        <div class="card-border p-4">
          <div class="image-contaner mb-2">
            <img src="../assets/images/profile.png" alt="Earning image" class="earning-image">
          </div>
          <h5 class="card-title fs_14">Vendors</h5>
          <p class="card-title fs_22 fw-semibold fs_20 mt-1"><%=vendor_count%></p>
        </div>
      </div>

      <div class="col">
        <div class="card-border p-4">
          <div class="image-contaner mb-2">
            <img src="../assets/images/profile.png" alt="Box 1 image" class="earning-image">
          </div>
          <h5 class="card-title fs_14">Managers</h5>
          <p class="card-title fs_22 fw-semibold fs_20 mt-1"><%=managers_count%></p>
        </div>
      </div>

      <div class="col">
        <div class="card-border p-4">
          <div class="image-contaner mb-2">
            <img src="../assets/images/profile.png" alt="Box 2 image" class="earning-image">
          </div>
          <h5 class="card-title fs_14">Users</h5>
          <p class="card-title fs_22 fw-semibold fs_20 mt-1"><%=users_count%></p>
        </div>
      </div>
      <div class="col">
        <div class="card-border p-4">
          <div class="image-contaner mb-2">
            <img src="../assets/images/ticket-expired.png" alt="Box 3 image" class="earning-image">
          </div>
          <h5 class="card-title fs_14">Category</h5>
          <p class="card-title fs_22 fw-semibold fs_20 mt-1"><%=categories_count%></p>
        </div>
      </div>
      <div class="col">
        <div class="card-border p-4">
          <div class="image-contaner mb-2">
            <img src="../assets/images/ticket-expired.png" alt="Box 3 image" class="earning-image">
          </div>
          <h5 class="card-title fs_14">Event Category</h5>
          <p class="card-title fs_22 fw-semibold fs_20 mt-1"><%=events_category%></p>
        </div>
      </div>
    </div>
     
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="border rounded-4 p-3 mb-3 mb-md-0">
          <h4 class="fs_16 fw-normal m-0">Total Offers Claims</h4>
          <h3> 250 <small class="fs_12 opacity-50 fw-normal"> This Week</small></h3>
          <div id="chart" class="border-top pt-3"></div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="border rounded-4 p-3">
          <div id="chart_line">
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center mt-4">
      <div class="col-md-12">
        <div class="border-0">
          <div class="">
            <div class="">
              <div class="table-responsive">
                <h3 class="fs_18 px-3 py-2 d d-flex justify-content-between m-0 align-items-center">Top Selling Products
                  <select name="" id="filter" class=" filters form-control text-center bg-transparent border-0 p-2 text_theme fw-semibold" style="width: 160px; cursor:pointer;">
                    <option value=""> Filter by:</option>
                  </select>
                </h3>
                <table class="table">
                  <thead class="table-light fs_14">
                    <tr>
                      <th scope="col">Product Id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Total Sales</th>
                    </tr>
                  </thead>
                  <tbody>
                    <thead class="table-row fs_14">
                      <tr>
                        <td scope="row">56465</td>
                        <td> <img src="../assets/images/pro.png" alt=""> Coca Cola Tin</td>
                        <td>£15,000.00.</td>

                      </tr>
                    </thead>
                  </tbody>
                  <thead class="table-row fs_14">
                    <tr>
                      <td scope="row">56465</td>
                      <td> <img src="../assets/images/pro.png" alt=""> Coca Cola Tin</td>
                      <td>£15,000.00.</td>

                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>