<div class="sidebar">
    <a href="../auth/dashboard.php" class="side_link <%= title === 'dashboard' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/01.png" alt="">
        <span>Dashboard</span>
    </a>
    <a href="/user_list" class="side_link <%= title === 'users' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/02.png" alt="">
        <span>Users</span>
    </a>
    <a href="/department_list" class="side_link <%= title === 'departments' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/03.png" alt="">
        <span>Departments</span>
    </a>
    <a href="/product_list" class="side_link <%= title === 'products' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/04.png" alt="">
        <span>Products</span>
    </a>
    <a href="/categories_list" class="side_link <%= title === 'categories' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/05.png" alt="">
        <span>Categories</span>
    </a>
    <a href="/sub_category_list" class="side_link <%= title === 'sub_categories' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/06.png" alt="">
        <span>Sub Categories</span>
    </a>
    <a href="/notification_list" class="side_link <%= title === 'notifications' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/08.png" alt="">
        <span>Notifications</span>
    </a>
    <a href="/content?type=1" class="side_link <%= title === 'privacy_policy' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/10.png" alt="">
        <span>Privacy Policy</span>
    </a>
    <a href="/content?type=3" class="side_link <%= title === 'terms_conditions' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/11.png" alt="">
        <span>Terms & Conditions</span>
    </a>
    <a href="/content?type=2" class="side_link <%= title === 'about_us' ? 'active' : '' %>">
        <img src="../../assets/images/side_icon/12.png" alt="">
        <span>About Us</span>
    </a>
</div>
